@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  color: white !important;
}

.pagination_btn {
  @apply w-[35px] h-[35px] rounded-md text-white border flex
    justify-center items-center border-[#202020] transition
    duration-200 hover:bg-card-dark hover:shadow
    disabled:cursor-not-allowed;
}

.slick-prev,
.slick-next {
  z-index: 10;
}
.slick-prev {
  left: 5px !important;
}
.slick-next {
  right: 5px !important;
}

body {
  --sb-track-color: #151515;
  --sb-thumb-color: #383838;
  --sb-size: 10px;

  background-color: #151515;
  scroll-behavior: smooth;
}
.scrollbar {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.follow-btn {
  @apply my-3 rounded-md w-[10rem] py-2 bg-white/10 duration-300 ease-in text-white hover:bg-white hover:text-black;
}
.nav-link {
  @apply block text-white text-2xl font-semibold my-3 duration-300 ease-in hover:text-[#737373];
}

.screenshot {
  @apply w-full h-full min-h-40 rounded-md object-cover hover:cursor-zoom-in duration-300 transition-all hover:scale-90 delay-100;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
